body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 960px;
    margin: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}



.drawn {
    background-color: grey;
}